.App {
    font-family: PersianSword;
}

.homeLink {
    color: red;
    background-color: rgba(0, 0, 0, .5);
    padding: .5%;
    border: .1rem solid ghostwhite;
    border-radius: 10%;
}

.image-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-container.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-container.full-screen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}



/*dashboard*/
.dashShell {
    display: flex;
    padding: 5%;
    background-image: url(../images/JabbaBack.jpg);
    background-size: cover;
    border: 1rem groove black;

}

.name {
    font-family: QuickerMachine;
    font-size: 6rem;
    text-shadow: .1rem .1rem red;
    border: .25rem groove black;
    width: 55%;
    margin-left: 22%;
    box-shadow: .1rem .1rem red;
    background-color: rgba(0, 0, 0, .4);
}

.navBar {
    width: 30%;
    height: 100%;
    border: .75rem groove black;
    font-family: PersianSword;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    box-shadow: .25rem .25rem red;
}

.navLink {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
    text-shadow: .1rem .1rem red;
}

.ErsFullPic {
    width: 70%;
}

.MythPic {
    border: black .25rem groove;
    box-shadow: .1rem .1rem red;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    border: .25rem solid white;

}

.dropdown-menu.open {
    display: block;
}

.dropdown-link {
    position: relative;
    display: inline-block;

}

.dropdown-link a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: PersianSword;
    background-color: transparent;
    text-shadow: .1rem .1rem red;
}

.dropdown-link:hover {
    color: black;
}



.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}


@media (max-width: 768px) {

    .navBar,
    .AMRight {
        display: none;
    }

    .dashShell {
        background-image: url(../images/JabbaBack.jpg);
        background-size: cover;
        width: 82vw;
        height: 90vh;
        border: 1rem groove black;
    }

    .DNShell {
        width: max-content;
        height: auto;
    }

    .bar {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .shipPics2 {
        width: 10%;
    }

    img {
        width: 110%;
        height: auto;
        margin-left: -40%;
        margin-top: 25%;
    }

    .DNCase, .weaponCase {
        display: inline-block !important;
        border: none !important;
        margin-left: 20%;
        margin-top: 1%;
        padding-top: 1%;
    }

}

.menu-items {
    color: black;
}

.menu-links {
    text-decoration: none;
    color: red;
    font-size: .5rem;
    text-shadow: .05rem .05rem black;
}


.mobile-menu {
    position: relative;
    display: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 1rem;
}

.menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 10%;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 10px;
}

.menu-icon span:nth-child(4) {
    top: 20px;
}

.menu-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    top: 10px;
    opacity: 0;
    left: -60px;
}

.menu-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu-icon.open span:nth-child(4) {
    top: 10px;
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

/*weapons*/
.weaponShell {
    border: 1rem black groove;
    background-image: url(../images/MetalBack.jpg);
    background-size: cover;
}

.weaponShelf,
.blaster,
.sabre,
.blade,
.vambrance {
    border: .25rem solid black;
    padding: 2%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10%;
    box-shadow: .5rem .5rem rgb(39, 39, 39);
}

.weaponShelf {
    margin-bottom: 5%;
}


.weaponCase {
    border: 1rem black groove;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1rem 1rem black;
    text-shadow: .1rem .1rem red;
}

.caseLeft,
.caseRight {
    width: 30%;
}

.caseRight {
    margin-left: 10%;
}

.caseMid {
    width: 40%;
}

.blaster {
    width: 55rem;
    height: 30rem;
    margin-left: 5%
}


.sabre {
    width: 50rem;
    height: 30rem;
}

.blade {
    width: 10rem;
    height: 60rem;
}

.vambrance {
    width: 50rem;
    height: 30rem;
}

/*Dark Naught*/
.DNShell {
    border: 1rem black groove;
    background-image: url(../images/MetalBack.jpg);
    background-size: cover;
}

.DNCase {
    display: flex;
    border: 1rem black groove;
    justify-content: space-around;
    margin-top: 2%;
    padding-top: 2%;
}

.DNDesc {
    font-family: QuickerMachine;
    font-size: 2.25rem;
    display: flex;
    justify-content: space-evenly;
    text-shadow: .02rem .1rem red;
}

.DKList {
    margin-left: -15%;
}

.bar {
    margin-right: -10%;
    margin-left: -10%;
}

.shipPics,
.shipPics2,
.shipPics3,
.shipPics4 {
    border: .5rem groove black;
    box-shadow: .1rem .1rem red;
}

.shipPics {
    width: 20rem;
    height: 20rem;
}

.shipPics2 {
    width: 35rem;
    height: 20rem;
}

.shipPics3 {
    width: 40rem;
    height: 25rem;
}

.shipPics4 {
    width: 30rem;
    height: 20rem;
}

/*Lineage*/
.AMShell {
    border: 1rem black groove;
    background-image: url(../images/SWLandscape.jpg);
    font-family: QuickerMachine;
    background-size: cover;
    color: ghostwhite;

}

.AMLeft {
    font-size: 2rem;
    margin: 2%;
    border: .5rem groove black;
    padding: 2%;
    background-color: rgba(0, 0, 0, .7);
    text-shadow: .05rem .05rem red;
}

.AMPic {
    width: 40rem;
    height: 55rem;
}

.homeLink2 {
    color: red;
    font-size: 1rem;
    font-family: PersianSword;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .5);
    padding: .5%;
    border: .1rem solid ghostwhite;
    border-radius: 10%;
    text-shadow: .05rem .05rem black;
}

/*droids*/
.droidShell {
    position: static;
    border: 1rem black groove;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/SWDroids.jpg);
    font-family: QuickerMachine;
    background-size: 100%;
    color: ghostwhite;
    font-size: 2.1rem;
    padding: 2%;

}

.droidText {
    border: .25rem groove black;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: .1rem .1rem red;
}

.droidBox {
    display: flex;
    border: .5rem groove red;
    padding: 2%;
    background-color: rgba(0, 0, 0, .8);
    text-shadow: .1rem .1rem red;

}

.droidBlurb {
    padding: 2%;
}

/*affiliations*/
.affShell {
    position: static;
    border: 1rem black groove;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/coruscant-night.jpg);
    font-family: QuickerMachine;
    background-size: 100%;
    color: ghostwhite;
    font-size: 2.1rem;
    padding: 2%;
}

.affPic {
    width: 20rem;
    height: 35rem;
}

.affPic2 {
    width: 28rem;
    height: 30rem;
}

/*bounties*/
.BShell {
    border: 1rem black groove;
    background-image: url(../images/burning.png);
    background-size: cover;
}

.poster {
    border: .5rem groove black;
    box-shadow: .1rem .1rem red;
    width: 30rem;
    height: 40rem;
}

/*services*/
.servShell {
    width: auto;
    height: 100vh;
    border: 1rem black groove;
    background-image: url(../images/coruscant_day.jpg);
    background-size: cover;
}

.servTitle {
    color: ghostwhite;
    text-shadow: .1rem .1rem red;
    font-size: 4rem;
}

.servHomeLink {
    color: red;
    background-color: rgba(0, 0, 0, .5);
    padding: .5%;
    border: .1rem solid ghostwhite;
    border-radius: 10%;
    text-decoration: none;
    text-shadow: .05rem .05rem ghostwhite;
}

.servPara {
    font-family: QuickerMachine;
    font-size: 3rem;
    font-style: italic;
    color: ghostwhite;
    text-shadow: .1rem .1rem red;
    border: .1rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .5);
}

.servBox {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.servLink {
    color: ghostwhite;
    text-shadow: .1rem .1rem red;
    text-decoration: none;
    font-size: 3rem;
    border: .1rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .5);
    padding: 1%;
}

/*acquisitions, deliveries, removals*/
.Shells {
    width: auto;
    height: auto;
    border: 1rem black groove;
    background-image: url(../images/3heads.jpg);
    background-size: 100%;
}

.shellTitle {
    text-shadow: .1rem .1rem red;
    font-size: 4rem;
}

.shellHomeLink {
    color: red;
    background-color: rgba(0, 0, 0, .5);
    padding: .5%;
    border: .1rem solid black;
    border-radius: 10%;
    text-decoration: none;
    text-shadow: .05rem .05rem black;
}

.shellBox {
    font-family: QuickerMachine;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    color: ghostwhite;
    text-shadow: .05rem .05rem red;
    background-color: rgba(0, 0, 0, .5);
    border: .1rem solid black;
    margin: 5%;
}

.shellCred {
    width: 5rem;
    height: 5rem;
    color: ghostwhite;
    text-shadow: .1rem .1rem ghostwhite;
}

.li {
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}